#form{
    width: 45%;
    margin: auto;
    display: block;
    font-family: lato ,sans-serif;
    font-size: 20px;
    text-align: center;
}
.blue{
    color: white;
    opacity: 0.8;
}
.red{
    color: white;
}
.reed{
    color: white;
    background-color: white;
}
.read{
    border-radius: 25%;
}
h1{
    text-align:center;
    text-decoration: double;
    font-size: 27px;
    padding: 20px 13px;
    font-weight: bold;
    font-style: normal;
    font-display: white;
}
body{
    background: url(https://images.pexels.com/photos/13943611/pexels-photo-13943611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
label{
    font-weight: bold;
    display: inline-block;
    margin: 7px;
    background-color: white;
    font-display: small;
    font-style: italic;
    font-size: medium;
}
input[type=date],[type=number],[type=text],[type=data]{
    background: #e7ebee;
    border: 1px solid #0000;
    border-radius: 2px;
    border-width: 1px;
    color: #dddddd;
    font-size: 14px;
    margin: 12px 12px;
    padding: 12px 12px;
    display: inline-block;
}
input[type=radio].g{
    margin-left: 35px;
    color: white;
}
select{
    font-size :20px;
}
input[type=submit]{
    border-radius: 25px;
    background-color: rgb(7, 141, 219);
    color: rgb(220, 220, 228);
    padding: 15px 50px;
    text-align: center;
    font-size: 24px;
    margin: 12px 14px;
    cursor: pointer;
    border: 1px solid black;
}
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    font-size: 24px;
    margin-left: auto;
    bottom: 40px;
    right: 30px;
    background-color: rgb(8, 8, 8);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }